# Do not track the following:

# file types: (text, zip, comma-separated value, excel spreadsheet)
*.txt
*.zip
*.csv
*.xlsx

# directories: (compiled python caches, course creation folders)
__pycache__/
__donotinclude__/
Template/
test_files/
